<p class="post-text"><%= post.post_text %></p>
<p class="post-author">-  <%= post.post_author.author_username %></p>
<p class="post-date"><%= post.post_date.getMonth() + 1 %> / <%= post.post_date.getDate() %> / <%= post.post_date.getFullYear() %></p>
